.mat-radio-group {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.mat-radio-button {
    margin: 0 20px;
}

.mat-form-field {
    margin-top: 20px;
}

h3 {
    font-weight: 500 !important;
    margin-top: 20px;
}